/* primary-text-color #212121;
title-text-color  #757575;
accent-color #2196F3;
primary-bg-color #FFFFFF; 
cecondary-bg-color  #E5E5E5; */
:root {
  --pimary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --cecondary-bg-color: #e5e5e5;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}
ul {
  list-style: none;
}
/* шапка сторінки */
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.web {
  color: var(--accent-color);
}
/* навігація */
.site-nav .nav-link {
  list-style: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.studio-primary {
  color: var(--pimary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.nav-link :hover,
.nav-link:focus {
  color: var(--accent-color);
}
/* рішення для бізнесу */
.article {
  /* color: var(--primary-bg-color); */
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.article-button {
  cursor: pointer;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
/* рішення */
.accent {
  color: var(--pimary-text-color);
  font-weight: bold;
  letter-spacing: 0.03em;
}
.content {
  color: var(--title-text-color);
}
/* чим ми займаємось */
.primary {
  font-size: 36px;
  line-height: 42px;
}
/* наша команда */
.team {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.teammate {
  color: var(--pimary-text-color);
  font-weight: 500;
}
.person-work {
  color: var(--title-text-color);
}
/* футер */
.address {
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* портфоліо сторінка */
.portfolio-primary {
  color: var(--pimary-text-color);
}
/* фільтри */
.filters > a:hover,
.filters > a:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border-radius: 4px;
}
